---
// src/pages/blog/post-1.astro
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Primer Post">
  <h1>Primer artículo del blog</h1>
  <p>Bienvenido a mi blog hecho con Astro.</p>
</Layout>
