---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<html lang="es">
  <head>
    <title>Blog de Ladybug</title>
  </head>
  <body>
    <h1>📝 Blog de Ladybug</h1>
    <p>Explorando el mundo de Marinette, los kwamis y sus aventuras.</p>

    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>
            <h2>{post.data.title}</h2>
            <p>{post.data.description}</p>
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
